body{
    background-color: rgb(25,25,25);
    font-family: arial;
    margin-bottom: 1000px;
    margin-top: 70px;
    margin-left: 0px;
}
.header{
    display: flex;
    position: fixed;
    background-color: white;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}
.left{
    width: 20%;
    height: 100%;
    
}
.center{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 50px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(0, 140, 255);
    cursor: pointer;
}
.right{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.me{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    cursor: pointer;
    transition: box-shadow 0.5s;
}
.me:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.friend-count{
    position: absolute;
    top: 7px;
    right: 10px;
    background-color: rgb(0, 140, 255);
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    transition: box-shadow 0.5s, padding 0.5s;
}

.friend-count:hover{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 10px 15px;
}
.friend-count-text{
    position: absolute;
    color: white;
    top: 16px;
    right: 100px;
    background-color: grey;
    padding: 10px;
    opacity: 0;
    z-index: 200;
    transition: opacity 0.5s;
    pointer-events: none;
}
.friend-count-div{
    cursor: pointer;
}
.friend-count-div:hover .friend-count-text{
    opacity: 0.5;
}

.add-friends-list, .friends-list{
    height: 550px;
    background-color: rgb(235, 235, 235);
}
.add-friends-title, .friends-title{
    font-size: 50px;
    font-weight: 700;
    padding-top: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    color: rgb(0, 140, 255);
}
.friends-title{
    margin-top: 40px;
}

.profile{
    width: 200px;
    height: 400px;
    display: inline-block;
    background-color: white;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.profile-photo{
    width: 200px;
    height: 200px;
}
.profile-pic{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.profile-info{
    width: 200px;
    height: 200px;
    margin-left: 15px;
}
.profile-name{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}
.profile-age, .profile-location{
    font-size: 20px;
    color: rgb(121, 121, 121);
    margin-top: 10px;
    margin-bottom: 15px;
}
.add-button{
    width: 165px;
    height: 50px;
    background-color: rgb(0, 140, 255);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s;
}
.add-button:hover{
    background-color: rgb(0, 120, 255);
}

.delete-button{
    width: 165px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s;
}
.delete-button:hover{
    background-color: rgb(255, 0, 0, 0.8);
}
